*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(240, 240, 240);
}
.texto{
   color: rgb(17, 17, 17);
}
.texto1{
    color: rgb(73, 28, 116);
}
#button{
    color: crimson;
}
#i1{
    width: 500px;
}
.i2{
    width: 200px;
}
.texto2{
    color: blueviolet;
}
#logo{
    width: 50px;
}
.s1{
    background: url(../img/flores\ fondo\ guiones.png);
}
.s1{
    text-align: center;
}
*{
    box-sizing: border-box;
    margin: 0;
}
h4{
    margin: 20px;
}
#logo{
    margin: 20px;
}
#i1{
    display: flex;
    }

.s5{
    height: 500px;
    display: block;
    color: blueviolet;
}
.cuadrado{
    height: 50px;
    width: 50px;
    color: crimson;
}