*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(240, 240, 240);
}
.texto{
   color: rgb(17, 17, 17);
}
.texto1{
    color: rgb(73, 28, 116);
}
#button{
    color: crimson;
}
#i1{
    width: 500px;
}
.i2{
    width: 200px;
}
.texto2{
    color: blueviolet;
}
#logo{
    width: 50px;
    margin: 20px;
}
.s1{
    background: url(../img/flores\ fondo\ guiones.png);
}
.s1{
    text-align: center;
}
*{
    box-sizing: border-box;
    margin: 0;
}
h4{
    margin: 20px;
}
#i1{
    display: flex;
    }

.s5{
    height: 500px;
    display: block;
    color: blueviolet;
}
.cuadrado{
    height: 50px;
    width: 50px;
    color: crimson;
}
.menu{
    display: flex;
    background-color: darkcyan;
    justify-content: space-around;
}
.contenedor-menu{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 10px;
}
.contenedor-item{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 20px;
}
.contenedor-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.contenedosr-logo{
    width: 20%;
}

/*Galeria de accesorios*/

.galeria{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gal1{
    display: flex;
}
.gal1 img{
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    transition: 200ms;
}
.gal1 img:hover{
    transform:scale(1.15);
}